@*
@if (TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}
@if (TempData["error"] != null)
{
	<h2>@TempData["error"]</h2>
}
*@

@if (TempData["success"] != null)
{
	//使用Toaster
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script type="text/javascript">
		toastr.sucess('@TempData["success"]');
	</script>
}
@if (TempData["error"] != null)
{
	//使用Toaster
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script type="text/javascript">
		toastr.error('@TempData["error"]');
	</script>
}
